.container {
  padding: 30px;
}
.container header {
  font-family: Metropolis-bold;
  padding: 0 20px;
}
.container header .header__panel {
  display: flex;
  flex-direction: row;
  border-bottom: 1px #e1e2e8 solid;
}
.container header .header__panel .header__panel--logo {
  height: 60px;
  width: 250px;
}
.container header .header__panel .header__panel--nav-swipe {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
}
.container header .header__panel .header__menu {
  display: flex;
  margin-left: auto;
  gap: 20px;
}
.container header .header__panel .header__menu .menu__item {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  width: auto;
  align-items: center;
}
.container header .header__panel .header__menu .menu__item .menu__item--element {
  display: flex;
  align-items: center;
  margin-right: 72px;
}
.container header .header__panel .header__menu .menu__item .menu__item--element .menu__element--icon-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
.container header .header__panel .header__menu .menu__item .menu__item--element .menu__element--icon-text .menu__element--icon-text p {
  font-family: Metropolis-bold;
  text-transform: uppercase;
}
.container header .header__panel .header__menu .menu__item-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px #e1e2e8 solid;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--icon {
  padding: 5px 20px;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--separator {
  height: 30px;
  width: 1px;
  color: #807d7d;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--info p {
  margin: 0 15px;
  padding: 0;
  text-align: left;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--info p:last-child {
  font-family: Metropolis-light;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--green-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #e1e2e8 solid;
  background-color: #9bcb3b;
  height: 54px;
  width: 35px;
}
.container header .header__panel .header__menu .menu__item-cart .menu__item-cart--green-icon .menu__item-cart--green-icon i {
  font-size: 10px;
  color: white;
}

/* HEADER MEDIA */
@media only screen and (max-width: 1250px) {
  .header__menu {
    margin-left: auto;
  }
  .header__menu .menu__element--icon-text i {
    font-size: 30px;
  }
  .header__menu .menu__element--icon-text p {
    display: none;
  }
}
@media only screen and (max-width: 920px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    border-top: 1px #e1e2e8 solid;
    padding: 0;
  }
  header .header {
    display: flex;
    justify-content: center;
  }
  header .header .header__panel {
    display: flex;
    border-bottom: none;
    justify-content: center;
  }
  header .header .header__panel .header__menu {
    justify-content: right;
  }
  header .header .header__panel .header__panel--nav-swipe {
    display: inline;
    position: absolute;
    margin-right: 72px;
    left: 0;
  }
  header .header .header__panel .header__panel--logo {
    position: fixed;
    top: 0;
  }
}
@media only screen and (max-width: 788px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    border-top: 1px #e1e2e8 solid;
    padding: 0;
    margin: 0;
  }
  header .header__menu {
    margin: 0;
  }
  header .header__menu .menu__item-cart--icon {
    padding-right: 0;
  }
  header .header__menu .menu__item--element {
    margin: 0px 22px;
    margin-left: 0;
  }
  header .header__menu .menu__item--element .menu__item--element p {
    display: none;
  }
  header .header__menu .menu__item-cart--info p {
    font-size: 0;
  }
}

/*# sourceMappingURL=header-style.css.map */
