section {
  background: #f2f3f4;
  padding: 20px 30px;
}
section .section__first-slide {
  position: relative;
  width: 100%;
  display: flex;
}
section .section__first-slide .section__slide--btn-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  left: 0;
  top: 50%;
  opacity: 50%;
  background-color: white;
  transform: translateY(-50%);
  font-size: 0.9vw;
}
section .section__first-slide .section__slide--btn-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  right: 0;
  top: 50%;
  opacity: 50%;
  background-color: white;
  transform: translateY(-50%);
  font-size: 0.9vw;
}
section .section__first-slide .section__slide--text {
  position: absolute;
  top: 28%;
  left: 7%;
  color: white;
}
section .section__first-slide .section__slide--text .section__slide--text-large {
  font-family: Metropolis-bold;
  font-size: 2.5vw;
  margin-bottom: 0;
}
section .section__first-slide .section__slide--text .section__slide--text-medium {
  font-family: Metropolis-light;
  font-size: 2.5vw;
  margin-top: 0.3vw;
  margin-bottom: 0.6vw;
}
section .section__first-slide .section__slide--text .section__slide--text-small {
  font-family: Metropolis-regular;
  font-size: 1.25vw;
  margin-top: 0;
  margin-bottom: 1vw;
}
section .section__first-slide .section__slide--text .section__slide--btn-show-more {
  font-family: Metropolis-bold;
  font-size: 0.8vw;
  color: #ffffff;
  background-color: #f74137;
  width: 12.5vw;
  height: 3vw;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
section .section__second-slide {
  position: relative;
  width: 100%;
  display: flex;
}
section .section__second-slide .section__slide--btn-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  left: 0;
  top: 50%;
  opacity: 50%;
  background-color: white;
  transform: translateY(-50%);
  font-size: 0.9vw;
}
section .section__second-slide .section__slide--btn-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  right: 0;
  top: 50%;
  opacity: 50%;
  background-color: white;
  transform: translateY(-50%);
  font-size: 0.9vw;
}
section .section__second-slide .section__slide--text {
  position: absolute;
  top: 28%;
  left: 7%;
  color: white;
}
section .section__second-slide .section__slide--text .section__slide--text-large {
  font-family: Metropolis-bold;
  font-size: 2.5vw;
  margin-bottom: 0;
}
section .section__second-slide .section__slide--text .section__slide--text-medium {
  font-family: Metropolis-light;
  font-size: 2.5vw;
  margin-top: 0.3vw;
  margin-bottom: 0.6vw;
}
section .section__second-slide .section__slide--text .section__slide--text-small {
  font-family: Metropolis-regular;
  font-size: 1.25vw;
  margin-top: 0;
  margin-bottom: 1vw;
}
section .section__second-slide .section__slide--text .section__slide--btn-show-more {
  font-family: Metropolis-bold;
  font-size: 0.8vw;
  color: white;
  background-color: #f74137;
  width: 12.5vw;
  height: 3vw;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
section .unvisible-slide {
  display: none;
}
section .section_baners {
  width: 100%;
  display: flex;
}
section .section_baners .section__baners--first-baner {
  position: relative;
  height: auto;
  width: 33%;
  padding: 20px 30px 20px 0;
}
section .section_baners .section__baners--first-baner .section__first-baner--text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  text-align: left;
}
section .section_baners .section__baners--first-baner .section__first-baner--text .section__baner--text-large {
  font-family: Metropolis-bold;
  font-size: 44px;
  margin-bottom: 0;
}
section .section_baners .section__baners--first-baner .section__first-baner--text .section__baner--text-medium {
  font-family: Metropolis-light;
  font-size: 44px;
  margin-top: 0.2vw;
  margin-bottom: 1vw;
}
section .section_baners .section__baners--first-baner .section__first-baner--text .section__baner--btn-show-more {
  height: 55px;
  width: 204px;
  margin-top: 0px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: Metropolis-bold;
  text-transform: uppercase;
  cursor: pointer;
}
section .section_baners .section__baners--second-baner {
  position: relative;
  height: auto;
  width: 33%;
  padding: 20px 0;
}
section .section_baners .section__baners--second-baner .section__second-baner--text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  text-align: left;
}
section .section_baners .section__baners--second-baner .section__second-baner--text .section__baner--text-large {
  font-family: Metropolis-bold;
  font-size: 44px;
  margin-bottom: 0;
}
section .section_baners .section__baners--second-baner .section__second-baner--text .section__baner--text-medium {
  font-family: Metropolis-light;
  font-size: 44px;
  margin-top: 0.2vw;
  margin-bottom: 1vw;
}
section .section_baners .section__baners--second-baner .section__second-baner--text .section__baner--btn-show-more {
  height: 55px;
  width: 204px;
  margin-top: 0px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: Metropolis-bold;
  text-transform: uppercase;
  cursor: pointer;
}
section .section_baners .section__baners--third-baner {
  position: relative;
  height: auto;
  width: 33%;
  padding: 20px 0 20px 30px;
}
section .section_baners .section__baners--third-baner .section__third-baner--text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  text-align: left;
}
section .section_baners .section__baners--third-baner .section__third-baner--text .section__baner--text-large {
  font-family: Metropolis-bold;
  font-size: 44px;
  margin-bottom: 0;
}
section .section_baners .section__baners--third-baner .section__third-baner--text .section__baner--text-medium {
  font-family: Metropolis-light;
  font-size: 44px;
  margin-top: 0.2vw;
  margin-bottom: 1vw;
}
section .section_baners .section__baners--third-baner .section__third-baner--text .section__baner--btn-show-more {
  height: 55px;
  width: 204px;
  margin-top: 0px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-family: Metropolis-bold;
  text-transform: uppercase;
  cursor: pointer;
}

.section__baners {
  flex-direction: column;
}
.section__baners .section__baners--first-baner {
  margin: 0;
}
.section__baners .section__baners--second-baner {
  margin: 0;
}
.section__baners .section__baners--thirde-baner {
  margin: 0;
}

@media only screen and (max-width: 920px) {
  section {
    padding-top: 90px;
    justify-content: center;
  }
}

/*# sourceMappingURL=section-style.css.map */
