main {
  background-color: #f2f3f4;
}

.mainSlider {
  position: relative;
  padding: 1.7vw;
}
.mainSlider .mainSlider__btn-left,
.mainSlider .mainSlider__btn-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  opacity: 50%;
  background-color: white;
  transform: translateY(-50%);
  font-size: 0.9vw;
  z-index: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.mainSlider .mainSlider__btn-left:hover,
.mainSlider .mainSlider__btn-right:hover {
  opacity: 100%;
}
.mainSlider .mainSlider__btn-left {
  left: 1.7vw;
  top: 50%;
}
.mainSlider .mainSlider__btn-right {
  right: 1.7vw;
  top: 50%;
}
.mainSlider .mainSlider__slide {
  position: relative;
  display: flex;
}
.mainSlider .mainSlider__slide .mainSlider__text {
  position: absolute;
  top: 20%;
  left: 7%;
  color: white;
}
.mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--large {
  font-family: Metropolis-bold;
  font-size: 2.5vw;
  margin-bottom: 0;
}
.mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--medium {
  font-family: Metropolis-light;
  font-size: 2.5vw;
  margin-top: 0.3vw;
  margin-bottom: 0.6vw;
}
.mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--small {
  font-family: Metropolis-regular;
  font-size: 1.25vw;
  margin-top: 0;
  margin-bottom: 1vw;
}
.mainSlider .mainSlider__slide .mainSlider__text .mainSlider__button {
  font-family: Metropolis-bold;
  font-size: 0.8vw;
  color: #ffffff;
  background-color: #f74137;
  width: 12.5vw;
  height: 3vw;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.mainSlider .mainSlider__image {
  width: 100%;
}
.mainSlider .unvisible-slide {
  display: none;
}

.baners {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.baners__image {
  width: 100%;
  filter: brightness(0.7);
  transition: transform 0.4s ease;
}

.baners__image:hover {
  transform: scale(1.1);
}

.baners__item {
  position: relative;
  height: auto;
  width: 33%;
  margin: 1.2vw 1.8vw;
  overflow: hidden;
}

.baners__item:nth-child(2) {
  margin: 1.2vw 0;
}

.baners__text {
  position: absolute;
  top: 18%;
  left: 8%;
  color: white;
  text-align: left;
}

.baners__text--large {
  font-family: Metropolis-bold;
  font-size: 2.5vw;
  margin-bottom: 0;
}

.baners__text--medium {
  font-family: Metropolis-light;
  font-size: 2.5vw;
  margin-top: 0.2vw;
  margin-bottom: 1vw;
}

.baners__button {
  height: 2.8vw;
  width: 10.7vw;
  font-family: Metropolis-bold;
  font-size: 0.7vw;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.productsSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 0;
}
.productsSlider .productsSlider__heading {
  width: 100%;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #E1E2E8;
  font-family: Metropolis-bold;
  font-size: 2.5vw;
}
.productsSlider .productsSlider__heading p {
  margin-top: unset;
}
.productsSlider .productsSlider__heading::after {
  position: absolute;
  bottom: -3%;
  content: "___";
  font-size: 2.6vw;
  color: #f74137;
  transform: translateX(-50%);
}
.productsSlider .productsSlider__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 95%;
  margin: 2vw 0;
}
.productsSlider .productsSlider__container .productsSlider__product:hover .productsSlider__cartContainer {
  opacity: 1;
}
.productsSlider .productsSlider__container .productsSlider__product:hover .productsSlider__product-text {
  transform: translateY(-30%);
}
.productsSlider .productsSlider__container .productsSlider-btn-left,
.productsSlider .productsSlider__container .productsSlider-btn-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  background-color: #c1c2c6;
  transform: translateY(-50%);
  font-size: 0.9vw;
  top: 50%;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.productsSlider .productsSlider__container .productsSlider-btn-right {
  right: 0;
}
.productsSlider .productsSlider__container .productsSlider-btn-left {
  left: 0;
}
.productsSlider .productsSlider__container .productsSlider__product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 27vw;
  background-color: white;
  width: 19%;
}
.productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-name {
  font-family: Metropolis-bold;
  font-size: 0.7vw;
  text-transform: uppercase;
}
.productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-code {
  font-family: Metropolis-light;
  font-size: 0.7vw;
}
.productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-discount {
  font-family: Metropolis-light;
  font-size: 0.7vw;
  color: #a3a3a3;
  text-decoration: line-through;
}
.productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-price {
  font-family: Metropolis-bold;
  font-size: 0.7vw;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount {
  display: flex;
  border: 1px solid #E1E2E8;
  font-size: 1.5vw;
  font-family: Metropolis-light;
  align-items: center;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount p {
  margin: 0;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--decrement {
  background-color: #f8f8f8;
  border-right: 1px solid #e1e2e8;
  text-align: center;
  padding: 0.3vw 0.2vw;
  cursor: pointer;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--value {
  margin: 0.3vw 0.8vw;
  font-size: 0.7vw;
  color: black;
  opacity: 50%;
  text-align: center;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--increment {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e2e8;
  text-align: center;
  padding: 0.3vw 0.2vw;
  cursor: pointer;
}
.productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--icon {
  background-color: #9bcb3b;
  color: white;
  font-size: 0.9vw;
  padding: 0.3vw 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.productsSlider .productsSlider__button {
  font-family: Metropolis-bold;
  font-size: 0.7vw;
  color: white;
  background-color: #f74137;
  width: 15.5vw;
  height: 3vw;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.why-us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.why-us .why-us__image {
  width: 100%;
  filter: brightness(0.7);
}
.why-us .why-us__heading {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  font-family: Metropolis-bold;
  color: white;
  font-size: 2.5vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.why-us .why-us__heading p {
  margin-bottom: 1.2vw;
}
.why-us .why-us__heading::after {
  position: absolute;
  bottom: -3%;
  content: "___";
  font-size: 2.6vw;
  color: #f74137;
  transform: translateX(-50%);
}
.why-us .why-us__description {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  font-family: Metropolis-light;
  color: white;
  font-size: 1vw;
  word-spacing: 0.1vw;
}
.why-us .why-us__tilesContainer {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.1vw;
}
.why-us .why-us__tilesContainer .why-us__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.8vw;
  width: 14.8vw;
  font-family: Metropolis-bold;
  color: white;
  font-size: 0.8vw;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-color 0.3s ease-in-out;
}
.why-us .why-us__tilesContainer .why-us__tile .why-us__tile-text {
  margin-top: 1.2vw;
}
.why-us .why-us__tilesContainer .why-us__tile:hover {
  border-color: #f74137;
}
.why-us .why-us__button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.5vw;
  height: 3vw;
  font-family: Metropolis-bold;
  color: white;
  font-size: 0.7vw;
  background-color: #f74137;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #393E40;
}
.footer .footer__info {
  width: 25%;
  padding: 1.5vw 1vw;
}
.footer .footer__info .footer__infoHeading {
  position: relative;
  font-family: Metropolis-bold;
  color: white;
  text-transform: uppercase;
  font-size: 0.7vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 3vw;
}
.footer .footer__info .footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2vw;
}
.footer .footer__info .footer__list .footer__listLink {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.7vw;
  font-family: Metropolis-light;
  transition: color 0.3s ease;
}
.footer .footer__info .footer__list .footer__listLink:hover {
  color: #f74137;
}

@media only screen and (max-width: 920px) {
  .mainSlider .mainSlider__btn-left,
  .mainSlider .mainSlider__btn-right {
    height: 6vw;
    width: 5vw;
    font-size: 3vw;
  }
  .mainSlider .mainSlider__slide .mainSlider__text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--large {
    font-size: 3.5vw;
  }
  .mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--medium {
    font-size: 3.5vw;
  }
  .mainSlider .mainSlider__slide .mainSlider__text .mainSlider__text--small {
    font-size: 1.85vw;
  }
  .mainSlider .mainSlider__slide .mainSlider__text .mainSlider__button {
    font-size: 1.3vw;
    width: 17.5vw;
    height: 4.5vw;
  }
  .mainSlider .unvisible-slide {
    display: none;
  }
  .baners {
    flex-direction: column;
    align-items: center;
  }
  .baners__item {
    width: 70%;
  }
  .baners__text {
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
  .baners__text--large {
    font-size: 4vw;
  }
  .baners__text--medium {
    font-size: 4vw;
  }
  .baners__button {
    height: 4.4vw;
    width: 16vw;
    font-size: 1.4vw;
  }
  .productsSlider .productsSlider__heading {
    font-size: 3.5vw;
  }
  .productsSlider .productsSlider__container {
    justify-content: center;
    width: auto;
  }
  .productsSlider .productsSlider__container .productsSlider-btn-left,
  .productsSlider .productsSlider__container .productsSlider-btn-right {
    height: 5vw;
    width: 4vw;
    font-size: 2.5vw;
  }
  .productsSlider .productsSlider__container .productsSlider__product {
    width: 100%;
    height: 45vw;
  }
  .productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-name,
  .productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-code,
  .productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-discount,
  .productsSlider .productsSlider__container .productsSlider__product .productsSlider__product-text .productsSlider__product-price {
    font-size: 1.2vw;
  }
  .productsSlider .productsSlider__container .product-2,
  .productsSlider .productsSlider__container .product-3,
  .productsSlider .productsSlider__container .product-4,
  .productsSlider .productsSlider__container .product-5 {
    display: none;
  }
  .productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--decrement p {
    font-size: 2.3vw;
  }
  .productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--value {
    font-size: 1.6vw;
  }
  .productsSlider .productsSlider__container .productsSlider__cartContainer .productsSlider__cartContainer--amount .productsSlider__cartContainer--increment p {
    font-size: 2.3vw;
  }
  .productsSlider .productsSlider__button {
    font-size: 1.2vw;
    height: 5vw;
    width: 25vw;
  }
  .why-us {
    width: auto;
    padding: 1.7vw;
    align-items: center;
  }
  .why-us .why-us__heading {
    display: none;
  }
  .why-us .why-us__description {
    display: none;
  }
  .why-us .why-us__tilesContainer {
    top: 35%;
  }
  .why-us .why-us__tilesContainer .why-us__tile {
    width: 25vw;
    height: 12vw;
    font-size: 1.6vw;
  }
  .why-us .why-us__button {
    width: 18vw;
    font-size: 1vw;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer .footer__info {
    height: auto;
  }
  .footer .footer__info .footer__infoHeading {
    position: relative;
    font-family: Metropolis-bold;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 3vw;
    display: flex;
    justify-content: center;
  }
  .footer .footer__info .footer__list {
    display: none;
    padding-left: 0;
    margin-top: 0.5vw;
    text-align: center;
  }
  .footer .footer__info .footer__list .footer__listLink {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 0.7vw;
    font-family: Metropolis-light;
    display: block;
    padding: 0.3vw 0;
  }
  .footer .footer__info .footer__list.active {
    display: block;
  }
}
@media only screen and (max-width: 788px) {
  .productsSlider .productsSlider__container .productsSlider__product {
    height: 50vw;
  }
}

/*# sourceMappingURL=section-style.css.map */
