* {
  margin: 0;
  padding: 0;
}

body{
  width: auto;
}

section {
  display: flex;
  justify-content: center;
  background: #f2f3f4;
  padding: 20px 30px;

  // FIRST SLIDE

  .section__first-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


    .section__first-slide--img {
      width: 100%;
      height: 595px;
      position: relative;
      cursor: pointer;
      background-image: url(/photos/slide_02.png);
      background-size: cover;

      

      .section__slide--btn-left {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 50%;
      }

      .section__slide--btn-right {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        background-color: white;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 50%;
      }
      .section__slide--text {
        position: absolute;
        top: 28%;
        left: 7%;
        color: white;

        .section__slide--text-large {
          margin-top: 0px;
          font-family: Metropolis-bold;
          font-size: 44px;
          margin-bottom: 0;
        }

        .section__slide--text-medium {
          margin-top: 6px;
          font-family: Metropolis-light;
          font-size: 44px;
          margin-bottom: 19px;
        }

        .section__slide--text-small {
          margin-top: 0;
          font-family: Metropolis-regular;
          font-size: 22px;
          margin-bottom: 36px;
        }

        .section__slide--btn-show-more {
          margin-top: 0px;
          background-color: #f74137;
          border: none;
          width: 204px;
          height: 55px;
          font-family: Metropolis-bold;
          color: #ffffff;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  // SECOND SLIDE

  .section__second-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


    .section__second-slide--img {
      width: 100%;
      height: 595px;
      position: relative;
      cursor: pointer;
      background-image: url(/photos/img_01.jpg);
      background-size: cover;

      .section__slide--btn-left {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 50%;
      }

      .section__slide--btn-right {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        background-color: white;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 50%;
      }
      .section__slide--text {
        position: absolute;
        top: 28%;
        left: 7%;
        color: white;

        .section__slide--text-large {
          margin-top: 0px;
          font-family: Metropolis-bold;
          font-size: 44px;
          margin-bottom: 0;
        }

        .section__slide--text-medium {
          margin-top: 6px;
          font-family: Metropolis-light;
          font-size: 44px;
          margin-bottom: 19px;
        }

        .section__slide--text-small {
          margin-top: 0;
          font-family: Metropolis-regular;
          font-size: 22px;
          margin-bottom: 36px;
        }

        .section__slide--btn-show-more {
          margin-top: 0px;
          background-color: #f74137;
          border: none;
          width: 204px;
          height: 55px;
          font-family: Metropolis-bold;
          color: #ffffff;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  // UNVISIBLE CLASS

  .unvisible-slide {
    display: none;
  }
}

// SECTION MEDIA

@media only screen and (max-width: 1250px){

}

@media only screen and (max-width: 920px){

}

@media only screen and (max-width: 788px){
  
}