@use "variables";

.header {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px;

  .header__items {
    display: flex;
    border-bottom: 1px solid variables.$primary-grey;
    padding-bottom: 30px;
  }

  .header__navMenu {
    margin-left: auto;
    display: flex;
  }
  .header__navItem {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;

    .header__navItem-element {
      display: flex;
      align-items: center;
      gap: 0.9vw;
      font-size: 0.8vw;
      text-transform: uppercase;
      font-family: Metropolis-bold;
      margin-right: 4.7vw;

      .header__navIcon {
        font-size: 1.6vw;
      }
    }
  }

  .header__cartContainer {
    display: flex;
    border: 1px solid variables.$primary-grey;
    color: white;
    height: 3.1vw;
  }

  .header__cartIcon {
    padding-left: 0.5vw;
    gap: 0.8vw;
    font-size: 1.5vw;
  }

  .header__cartIcon::after {
    content: "|";
    font-size: 1.6vw;
    color: black;
  }

  .header__cartInfo {
    padding: 0 1vw;
    font-family: Metropolis-bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 0.8vw;
  }
  .header__cartInfo p {
    margin: 0;
  }

  .header__cartInfo p:last-child {
    font-family: Metropolis-light;
  }
  .header__cartContainer-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 1.6vw;
    font-size: 0.5vw;
    background-color: variables.$primary-green;
    border: 1px solid variables.$primary-green;
  }
}

/* HEADER MEDIA */

@media only screen and (max-width: 1250px) {
  .header__navItem-element p {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .header {
    margin: 0;
    padding: 0;
    .nav__visible {
      display: none;
    }

    .header__items {
      position: absolute;
      width: 100%;
      bottom: 0;
      justify-content: center;
      padding-bottom: unset;

      .header__logo {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .menu__item-cart--icon {
    padding: 0 10px;
  }
  .menu__item-cart--icon::after {
    display: none;
  }
  .header__cartInfo p {
    display: none;
  }
}
