@use "variables";


header {
  padding: 0;
.header__panel {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid variables.$primary-grey;
  background-color: white;
  padding-bottom: 1.5vw;

  .header__logo--image {
    height: 3.3vw;
    width: 12.4vw;
  }

  .header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    .menu__item {
      display: flex;
      text-decoration: none;
      color: black;
      align-items: center;

      .menu__item--element {
        margin-right: 4.6vw;

        .menu__element--icon-text {
          display: flex;
          align-items: center;
          gap: 0.9vw;
          font-size: 0.8vw;
          text-transform: uppercase;
          font-family: Metropolis-bold;

          .icon {
            font-size: 1.6vw;
          }
        }
      }
    }

    .menu__item-cart {
      display: flex;
      border: 1px solid variables.$primary-grey;
      color: white;
      height: 3.1vw;

      .menu__item-cart--icon {
        padding-left: 0.5vw;
        gap: 0.8vw;
        font-size: 1.5vw;
      }

      .menu__item-cart--icon::after {
        content: "|";
        font-size: 1.6vw;
        color: black;
      }

      .menu__item-cart--info {
        padding: 0 1vw;
        font-family: Metropolis-bold;
        text-transform: uppercase;
        margin: 0;
        font-size: 0.8vw;
      }

      .menu__item-cart--info p {
        margin: 0;
      }

      .menu__item-cart--info p:last-child {
        font-family: Metropolis-light;
      }
      .menu__item-cart--green-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vw;
        width: 1.6vw;
        font-size: 0.5vw;
        background-color: variables.$primary-green;
        border: 1px solid variables.$primary-green;
      }
    }
  }
}
}
/* HEADER MEDIA */

@media only screen and (max-width: 1250px) {
  .menu__element--icon-text p {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  header {
    margin: 0;
    padding: 0;
    .nav {
      display: none;
    }


    .header__panel {
      position: absolute;
      width: 100%;
      bottom: 0;
      justify-content: center;
      padding-bottom: unset;

      .header__menu {
        margin-left: unset;
      }
      .header__logo {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .menu__item-cart--icon {
    padding: 0 10px;
  }
  .menu__item-cart--icon::after {
    display: none;
  }
  .menu__item-cart--info p {
    display: none;
  }
}
