.nav {
  padding: 22px 30px;

  .nav__list--ul-visible {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    text-align: center;

    .nav__list--li-visible a {
      text-decoration: none;
      color: #000;
      font-family: Metropolis-bold;
      text-transform: uppercase;
    }
  }

  // NAV UNVISIBLE IN HEADER-STYLE.SCSS
}

@media only screen and (max-width: 920px) {
  .nav__list-visible {
    display: none;
  }
}

.unvisible {
  display: none;
}

@media only screen and (max-width: 788px) {
}
