// * {
//   margin: 0;
//   padding: 0;
// }

section {
  justify-content: center;
  background: #f2f3f4;
  padding: 20px 30px;

  // FIRST SLIDE

  .section__first-slide {
    position: relative;
    width: 100%;
    display: flex;

    .section__slide--btn-left {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      left: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
    }

    .section__slide--btn-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      right: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
    }
    .section__slide--text {
      position: absolute;
      top: 28%;
      left: 7%;
      color: white;

      .section__slide--text-large {
        font-family: Metropolis-bold;
        font-size: 2.5vw;
        margin-top: 0px;
        margin-bottom: 0;
      }

      .section__slide--text-medium {
        font-family: Metropolis-light;
        font-size: 2.5vw;
        margin-top: 6px;
        margin-bottom: 1.1vh;
      }

      .section__slide--text-small {
        font-family: Metropolis-regular;
        font-size: 1.25vw;
        margin-top: 0;
        margin-bottom: 2vh;
      }

      .section__slide--btn-show-more {
        margin-top: 0px;
        background-color: #f74137;
        border: none;
        width: 10.5vw;
        height: 42px;
        font-family: Metropolis-bold;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  // SECOND SLIDE

  .section__second-slide {
    position: relative;
    width: 100%;
    display: flex;

    .section__slide--btn-left {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      left: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
    }

    .section__slide--btn-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      right: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
    }
    .section__slide--text {
      position: absolute;
      top: 28%;
      left: 7%;
      color: white;

      .section__slide--text-large {
        font-family: Metropolis-bold;
        font-size: 2.5vw;
        margin-top: 0px;
        margin-bottom: 0;
      }

      .section__slide--text-medium {
        font-family: Metropolis-light;
        font-size: 2.5vw;
        margin-top: 6px;
        margin-bottom: 1.1vh;
      }

      .section__slide--text-small {
        font-family: Metropolis-regular;
        font-size: 1.25vw;
        margin-top: 0;
        margin-bottom: 2vh;
      }

      .section__slide--btn-show-more {
        margin-top: 0px;
        background-color: #f74137;
        border: none;
        width: 10.5vw;
        height: 42px;
        font-family: Metropolis-bold;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  // UNVISIBLE CLASS

  .unvisible-slide {
    display: none;
  }

  // BANERS

  .section_baners {
    width: 100%;
    display: flex;

    .section__first-baner-img img,
    .section__second-baner-img img,
    .section__third-baner-img img {
      transition: 0.3s;
    }

    .section__first-baner-img:hover img,
    .section__second-baner-img:hover img,
    .section__third-baner-img:hover img {
      transform: scale(1.1);
    }

    .section__baners--first-baner {
      position: relative;
      height: 400px;
      width: 600px;
      margin: 30px 30px 30px 0px;
      overflow: hidden;

      .section__first-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        font-family: Metropolis-bold;
        color: white;
        font-size: 44px;

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: #ffffff;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .section__baners--second-baner {
      position: relative;
      height: 400px;
      width: 600px;
      margin: auto;
      overflow: hidden;

      .section__second-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        font-family: Metropolis-bold;
        color: white;
        font-size: 44px;

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: #ffffff;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .section__baners--third-baner {
      position: relative;
      height: 400px;
      width: 600px;
      margin: 30px 0px 30px 30px;
      overflow: hidden;

      .section__third-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        font-family: Metropolis-bold;
        color: white;
        font-size: 44px;
        background-color: alpha($color: #000000);

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: #ffffff;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

// SECTION MEDIA

@media only screen and (max-width: 1250px) {
}
.section__baners {
  flex-direction: column;

  .section__baners--first-baner {
    margin: 0;
  }
  .section__baners--second-baner {
    margin: 0;
  }
  .section__baners--thirde-baner {
    margin: 0;
  }
}
@media only screen and (max-width: 920px) {
}
@media only screen and (max-width: 788px) {
}
