@use "variables";

section {
  background: #f2f3f4;
  padding: 20px 30px;

  // FIRST SLIDE

  .section__first-slide {
    position: relative;
    width: 100%;
    display: flex;

    .section__slide--btn-left {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vw;
      width: 3vw;
      left: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
      font-size: 0.9vw;
    }

    .section__slide--btn-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vw;
      width: 3vw;
      right: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
      font-size: 0.9vw;
    }
    .section__slide--text {
      position: absolute;
      top: 28%;
      left: 7%;
      color: white;

      .section__slide--text-large {
        font-family: Metropolis-bold;
        font-size: 2.5vw;
        margin-bottom: 0;
      }

      .section__slide--text-medium {
        font-family: Metropolis-light;
        font-size: 2.5vw;
        margin-top: 0.3vw;
        margin-bottom: 0.6vw;
      }

      .section__slide--text-small {
        font-family: Metropolis-regular;
        font-size: 1.25vw;
        margin-top: 0;
        margin-bottom: 1vw;
      }

      .section__slide--btn-show-more {
        font-family: Metropolis-bold;
        font-size: 0.8vw;
        color: #ffffff;
        background-color: variables.$primary-red;
        width: 12.5vw;
        height: 3vw;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  // SECOND SLIDE

  .section__second-slide {
    position: relative;
    width: 100%;
    display: flex;

    .section__slide--btn-left {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vw;
      width: 3vw;
      left: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
      font-size: 0.9vw;
    }

    .section__slide--btn-right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3vw;
      width: 3vw;
      right: 0;
      top: 50%;
      opacity: 50%;
      background-color: white;
      transform: translateY(-50%);
      font-size: 0.9vw;
    }
    .section__slide--text {
      position: absolute;
      top: 28%;
      left: 7%;
      color: white;

      .section__slide--text-large {
        font-family: Metropolis-bold;
        font-size: 2.5vw;
        margin-bottom: 0;
      }

      .section__slide--text-medium {
        font-family: Metropolis-light;
        font-size: 2.5vw;
        margin-top: 0.3vw;
        margin-bottom: 0.6vw;
      }

      .section__slide--text-small {
        font-family: Metropolis-regular;
        font-size: 1.25vw;
        margin-top: 0;
        margin-bottom: 1vw;
      }

      .section__slide--btn-show-more {
        font-family: Metropolis-bold;
        font-size: 0.8vw;
        color: white;
        background-color: variables.$primary-red;
        width: 12.5vw;
        height: 3vw;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  // UNVISIBLE CLASS

  .unvisible-slide {
    display: none;
  }

  // BANERS

  .section_baners {
    width: 100%;
    display: flex;

    // FIRST BANER

    .section__baners--first-baner {
      position: relative;
      height: auto;
      width: 33%;
      margin: 20px 30px 20px 0;

      .section__first-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        color: white;
        text-align: left;

        .section__baner--text-large {
          font-family: Metropolis-bold;
          font-size: 44px;
          margin-bottom: 0;
        }

        .section__baner--text-medium {
          font-family: Metropolis-light;
          font-size: 44px;
          margin-top: 0.2vw;
          margin-bottom: 1vw;
        }

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    // SECOND BANER

    .section__baners--second-baner {
      position: relative;
      height: auto;
      width: 33%;
      margin: 20px 0;

      .section__second-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        color: white;
        text-align: left;

        .section__baner--text-large {
          font-family: Metropolis-bold;
          font-size: 44px;
          margin-bottom: 0;
        }

        .section__baner--text-medium {
          font-family: Metropolis-light;
          font-size: 44px;
          margin-top: 0.2vw;
          margin-bottom: 1vw;
        }

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    // THIRD BANER

    .section__baners--third-baner {
      position: relative;
      height: auto;
      width: 33%;
      margin: 20px 0 20px 30px;

      .section__third-baner--text {
        position: absolute;
        top: 30%;
        left: 8%;
        color: white;
        text-align: left;

        .section__baner--text-large {
          font-family: Metropolis-bold;
          font-size: 44px;
          margin-bottom: 0;
        }

        .section__baner--text-medium {
          font-family: Metropolis-light;
          font-size: 44px;
          margin-top: 0.2vw;
          margin-bottom: 1vw;
        }

        .section__baner--btn-show-more {
          height: 55px;
          width: 204px;
          margin-top: 0px;
          color: white;
          background-color: transparent;
          border: 1px solid white;
          font-family: Metropolis-bold;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

// SECTION MEDIA

@media only screen and (max-width: 1250px) {
}
.section__baners {
  flex-direction: column;

  .section__baners--first-baner {
    margin: 0;
  }
  .section__baners--second-baner {
    margin: 0;
  }
  .section__baners--thirde-baner {
    margin: 0;
  }
}
@media only screen and (max-width: 920px) {
  section {
    padding-top: 90px;
    justify-content: center;
  }
}
@media only screen and (max-width: 788px) {
}
