@font-face {
  font-family: Metropolis-bold;
  src: url(/fonts/Metropolis-Black.woff2);
}

@font-face {
  font-family: Metropolis-light;
  src: url(/fonts/Metropolis-Light.woff2);
}

@font-face {
  font-family: Metropolis-regular;
  src: url(/fonts/Metropolis-Regular.woff2);
}



.container{
  width: auto;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: Metropolis-bold;
  color: black;
  padding: 0 20px;
  border-bottom: 1px #e1e2e8 solid;
}

.header__logo {
  height: 60px;
  width: 250px;
}

.header__menu {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

/* .menu-items {
  display: flex;
  align-items: center;
  margin-right: 72px;
} */

.menu__item-cart--icon {
  padding: 5px 20px;
}
.menu__item-cart--icon i {
  font-size: 14px;
}

.menu__element--icon-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.menu__element--icon-text p {
  font-family: Metropolis-bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.menu__item {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  width: auto;
  align-items: center;
}

.menu__element--icon-text:hover {
  font-size: 25px;
}

.menu__item-cart {
  display: flex;
  align-items: center;
  border: 1px #e1e2e8 solid;
  padding: 0;
  justify-content: center;
  transition: 0.3s;
}

.menu__item-cart hr {
  height: 30px;
  width: 1px;
  color: #e1e2e8;
}
.menu__item-cart:hover {
  font-size: 25px;
}

.menu__item-cart--icon i {
  font-size: 25px;
}

.menu__item-cart--info p {
  display: flex;
  text-align: left;
  padding: 0px;
  margin: 0 15px;
}

.menu__item-cart--info p:last-child {
  font-family: Metropolis-light;
  font-size: 11px;
}

.menu__item-cart--green-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #e1e2e8 solid;
  background-color: #9bcb3b;
  height: 54px;
  width: 35px;
}

.menu__item-cart--green-icon i {
  font-size: 10px;
  color: white;
}

/* nav */

nav {
  position: relative;
  border-bottom: 1px #e1e2e8 solid;
}
.nav__menu--swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  background-color: #e1e2e8;
  display: none;
}

.menu-swipe-icon {
  height: 30px;
  width: 30px;
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  gap: 50px;
  text-align: center;
}


.nav-ul-li a {
  text-decoration: none;
  color: #000;
  font-family: Metropolis-bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-ul-li a:hover {
  font-size: 30px;
}

.nav-ul-list-unvisible {
  display: none;
}

.nav-ul-unvisible {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
}
.nav-ul-li-unvisible {
  padding: 30px;
}
.nav-ul-li-unvisible a {
  text-decoration: none;
  color: #000;
  font-family: Metropolis-bold;
  text-transform: uppercase;
}

/* section */

/* section {
  display: flex;
  justify-content: center;
  background: #f2f3f4;
  padding: 20px 30px;
  box-sizing: border-box;
}

.slider .slider-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1500px;
  
}
.slide-img {
  position: relative;
  cursor: pointer;
}
.slide-text {
  position: absolute;
  top: 28%;
  left: 7%;
  color: white;
}

.text-large {
  margin-top: 0px;
  font-family: Metropolis-bold;
  font-size: 44px;
  margin-bottom: 0;
}

.text-medium {
  margin-top: 6px;
  font-family: Metropolis-light;
  font-size: 44px;
  margin-bottom: 19px;
}

.text-small {
  margin-top: 0;
  font-family: Metropolis-regular;
  font-size: 22px;
  margin-bottom: 36px;
}
.slider-btn-left {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-color: white;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 50%;
}
.slider-btn-right {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-color: white;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 50%;
}
.slider-btn {
  margin-top: 0px;
  background-color: #f74137;
  border: none;
  width: 204px;
  height: 55px;
  font-family: Metropolis-bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.unvisible-slide {
  display: none;
} */

/* media */
@media only screen and (max-width: 1250px) {
  .header__menu {
    margin-left: auto;
  }

  /* .menu-items {
    margin-right: 30px;
  } */
  .menu__element--icon-text i {
    font-size: 30px;
  }

  .menu__element--icon-text p {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    border-top: 1px #e1e2e8 solid;
    padding: 0px;
    margin: 0;
  }

  .container {
    width: auto;
    height: auto;
  }
  .header__logo {
    position: fixed;
    top: 0px;
  }

  .header__menu{
    margin: auto;
    gap: 0px;
  }

  /* .menu-items {
    margin: 0px 44px;
  } */

  /* .menu-items p {
    display: none;
  } */

  nav {
    border: none;
  }

  .nav-ul-list {
    display: none;
  }

  .nav__menu--swipe {
    display: flex;
    position: fixed;
    bottom: 72px;
    width: 100%;
  }

  .visible {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    text-align: center;
  }

  .unvisible {
    display: none;
  }
}

@media only screen and (max-width: 788px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    border-top: 1px #e1e2e8 solid;
    padding: 0px;
    margin: 0;
  }

  .container {
    width: auto;
    height: auto;
  }

  .header__menu{
    margin: 0;
  }

  /* .menu-items {
    margin: 0px 22px;
  } */

  .menu__item-cart--info p{
    display: none;
  }
  /* .menu-items p {
    display: none;
  } */

  .nav-ul-list {
    display: none;
  }

  .nav__menu--swipe {
    display: flex;
    position: fixed;
    bottom: 72px;
    width: 100%;
  }

}



/*# sourceMappingURL=style.css.map */
