@font-face {
  font-family: Metropolis;
  src: url(/Metropolis-Black.woff2);
}

header {
  height: 70px;
  display: flex;
  border-bottom: 1px solid rgb(172, 165, 165);
  background-color: #fff;

  .logo {
    /* display: flex; */
    padding: 10px;

    .logo__img {
      display: flex;
      background-color: #fff;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-family: Metropolis;

    .menu__item {
      display: flex;
      align-items: center;
      margin: 15px;
      padding: 15px 20px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      
      .item__icon {
        height: 20px;
        margin: 12px;
      }
      .item__text {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .green__icon{
        width: 5px;
        height: 5px;
      }
    }
    .menu__shopping-cart {
      align-items: center;
      justify-content: center;
      border: 1px #e1e2e8 solid;
      hr {
        width: 1px;
        height: 30px;
        color: #e1e2e8;
      }
    }
  }
}

nav {
  height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 22px auto 21px;
  border-bottom: 1px solid rgb(172, 165, 165);
  
  .navigation{
    .navigation__icon{
      width: 20px;
      position: absolute;
      display: none;
      
    }
    .navigation__item {
      font-family: Metropolis;
      font-size: 14;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}



@media only screen and (max-width: 768px) {
  header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #fff;
  
    .logo {
      display: flex;
      padding: 10px;
  
      .logo__img {
        display: none;
        background-color: #fff;
      }
    }
  
    .menu {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      font-family: Metropolis;
      position: absolute;
      bottom: 0;
  
      .menu__item {
        display: flex;
        align-items: center;
        margin: 15px;
        padding: 15px 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        
        .item__icon {
          height: 20px;
          margin: 12px;
        }
        .item__text {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          display: none;
        }
  
        .green__icon{
          width: 5px;
          height: 5px;
        }
      }
      .menu__shopping-cart {
        align-items: center;
        justify-content: center;
        border: 1px #e1e2e8 solid;
        hr {
          width: 1px;
          height: 30px;
          color: #e1e2e8;
        }
      }
    }
  }
  
  nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 22px auto 21px;
    border-bottom: 1px solid rgb(172, 165, 165);
    
    .navigation{
      .navigation__icon{
        width: 20px;
        position: absolute;
        display: none;
        
      }
      .navigation__item {
        font-family: Metropolis;
        font-size: 14;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
} 