@font-face {
  font-family: Metropolis;
  src: url(/fonts/Metropolis-Black.woff2);
}
header {
  font-family: Metropolis;
  text-transform: uppercase;
  background-color: #fff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.logo {
  height: 60px;
  width: 250px;
}

.menu {
  display: flex;
  margin-left: auto;
  padding: 0px 60px;
}

.menu-items{
  display: flex;
  align-items: center;
  margin-right: 72px;
}
.menu-item {
  margin-left: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}



.menu-item--cart {
  /* Stylizacja koszyka */
  background-color: #dff0d8;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-item--cart span {
  /* Stylizacja wartości koszyka */
  font-weight: bold;
}